<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
    <h3>File Metadata Microservice</h3>
    <p>Submit a file to view its filesize.</p>
    <form role="form", action="/filesize", method="post", enctype="multipart/form-data")>
        <input type="file" name="file" />
        <input type='submit' name='send' />
    </form>
</body>
</html>
